<ion-header>
  <ion-toolbar>
    <ion-tittle>Que Tal la Gente</ion-tittle>  
  </ion-toolbar>
</ion-header>
  <ion-content>
    <h1 class="ion-justify-content-center">Que tal los pelmazos</h1>

    <button class="button">
      <i class="icon ion-home"></i> Home
    </button>

    <button class="button icon-left ion-star button-positive">Favorites</button>
    <button class="button icon-right ion-chevron-right button-calm">Learn More</button>

    <button class="button icon-left ion-chevron-left button-clear button-dark">Back</button>

    <button class="button icon ion-gear-a">Gear</button>
  
</ion-content>
  
 


